pandas
pdfplumber
openpyxl
fuzzywuzzy
python-Levenshtein
transformers
matplotlib
#scikit-learn
openai
python-dotenv
datasets

#--index-url https://download.pytorch.org/whl/cu121

torch
torchvision
torchaudio